*{
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}
header{
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color: #ffffff;
}
header ul{
    display: flex;
}
.header-left{
    display: flex;
}
header h1{
    color:black;
    padding: 50px 0 0 20px;
}
.header-right{
    padding-top: 30px;
}
.header-right li{
    padding: 10px;
}
.header-right a{
    color: black;
    position: relative;
}
.header-right a::after {
    position: absolute;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #000000;
    bottom: -5px; /*アンダーラインが現れ始める位置（aタグの下辺からの高さ）*/
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.header-right a:hover::after {
    visibility: visible;
    bottom: 3px;
    opacity: 1;
}

.screen img {
    width: 100%;
}
.flex{
    display: flex;
    justify-content: center;
}
.skill li{
    background-color: rgb(222, 221, 231);
    width: 400px;
    border-radius: 20px;
    padding: 20px;
}
.skill ul{
    justify-content: center;
    gap: 20px;
}
.about{
    text-align: center;
}
.explanation{
    color: rgb(129, 129, 129);
}
.Strengths ul{
    gap: 20px;
    justify-content: center;
}
.Strengths li{
    background-color: rgb(222, 221, 231);
    width: 400px;
    border-radius: 20px;
    padding: 20px;
}
.title{
    text-align: center;
}
.aboutme{
    width: 40%;
}
.works_sec{
  justify-content: center;
}
.index_about{
    display: flex;
    gap: 30px;
    justify-content: center;
}
.a_hover a{
    position: relative;
}
.a_hover a::after {
    position: absolute;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #000000;
    bottom: -5px; /*アンダーラインが現れ始める位置（aタグの下辺からの高さ）*/
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.a_hover a:hover::after {
    visibility: visible;
    bottom: 3px;
    opacity: 1;
}
.contact{
    border: solid;
    width: 600px;
    margin: 20px auto 50px auto;
    padding: 30px;
}
.contact p{
    text-align: center;
}
section{
    margin: 40px 0 40px 0;
}
.work_main ul{
    text-align: center;
}
.work_main img{
    width: 70%;
}

.loading {
    /*ローディング画面の縦横幅を画面いっぱいになるように指定*/
    width: 100vw;
    height: 100vh;
    /*ローディング画面の表示位置を固定*/
    position: fixed;
    top: 0;
    left: 0;
    background: #ffffff;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*ローディング画面を0.5秒かけて非表示にする*/
    transition: all 0.5s linear;
  }
  
  /*ローディング画面を非表示にする*/
  .loading.loaded {
    /*0.5秒かけてopacityを0にする*/
    opacity: 0;
    visibility: hidden;
  }
  
  .loading-text {
    color: #000000;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
  }
  
  /* アニメーションの設定 */
  @keyframes spinner-rotation {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
@media screen and (max-width: 1200px) {
  .index_about{
    gap: 30px;
    text-align: center;
  }
}